// styles/globals.scss
$primary-color: #3498db;
$secondary-color: #2ecc71;


$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;


$media-xs : 520px;
$media-sm : 768px;
$media-md : 1024px;
$media-lg : 1280px;
$media-xl : 1640px;
