.sidebarLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color:black;
  width: auto;
  padding-inline: 8px;
  padding-block: 4px;
  gap: 8px;

  .paragraph {
    width: 100%;
  }
  &:hover{
    background-color: gray;
    color:white;
  }
}
.active {
  background-color: rgba(255, 255, 255);
  color: rgba(79, 79, 79);
  font-weight: 600;
}
