.formContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .loginButton {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background-color: green;
      color: white;
    }
    .signupButton {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }
  }
}
