.mediaItemWrapper {
  padding-inline: 8px;
  &:hover {
    background-color: rgb(130, 130, 130);
  }
  .mediaItemContent {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    .imageWrapper {
      position: relative;
      min-height: 48px;
      min-width: 48px;
      flex-shrink: 0; /* 이미지 크기는 줄어들지 않도록 설정 */
    }
    .mediaItemTextWrapper {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      flex: 1;
      
      .cardTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .cardText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
