.mediaItemWrapper {
  padding-inline:8px;
  &:hover{
    background-color: rgb(130, 130, 130);
  }
  .mediaItemContent {
    display: flex;
    align-items: center;
    justify-content: cneter;
    cursor: pointer;
    gap: 10px;
    .imageWrapper {
      position: relative;
      min-height: 48px;
      min-width: 48px;
    }
    .mediaItemTextWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-width: 0;
      flex: 1;
      .mediaItemText {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
