@use "@styles/variable.scss";

.flexColumn {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.MainLayout {
  display: grid;
  grid-template-areas:
    "aside header"
    "aside main";
  gap: variable.$spacing-large;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  grid-template-rows: 30px auto;
  grid-template-columns: minmax(100px, 200px) auto;

  // 모바일 화면에서는 aside를 제거
  @media (max-width: variable.$media-sm) {
    grid-template-areas:
      "header"
      "main";

    grid-template-columns: 1fr;
    margin-left: 10px;
  }

  aside {
    @media (max-width: variable.$media-sm) {
      display: none;
    }
  }
}
