@use "@styles/variable.scss";
.buttonWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;

  .sidebarButton {
    display: none;
    @media (max-width: variable.$media-sm) {
      display: block;
    }
  }
}

.headerHidden {
  transform: translateY(-100%);
}
