.SidebarWrapper {
  position:relative;
  grid-area: aside;
  display: flex;
  gap:8px;
  flex-direction: column;
  background-color: rgb(141, 141, 141);

  .Route {
    position:sticky;
    top:0;
    display: flex;
    width: auto;
    flex-direction: column;
    margin-top:8px;
    margin-inline: 8px;
    background-color: rgb(229, 229, 229);
    border-radius: 8px;
    overflow: hidden;
  }
}


