.sidebarWrapper {
  position:fixed;
  top:64px;
  left: 0;
  width:200px;
  display: flex;
  gap:8px;
  flex-direction: column;
  background-color: var(--gray-9);
  transition: 0.3s;
  height: 100dvh;

  @media (max-width:768px){
    left:-200px;
    &.sidebarOpen{
      left:0px;
    }
  }

  .route {
    position:sticky;
    top:0;
    display: flex;
    width: auto;
    flex-direction: column;
    margin-top:8px;
    margin-inline: 8px;
    background-color: rgb(229, 229, 229);
    border-radius: 8px;
    overflow: hidden;
  }
}
