@use "@styles/variable.scss";

.cardWrapper {
  display: flex;
  overflow: hidden;
  max-width: 100%;
  align-items: stretch;
  flex-direction: column;
  background-color: rgb(207, 207, 207);
  padding-inline: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
  transition: background-color 0.3s; /* 배경 색상 변화에 대한 트랜지션 추가 */
  cursor: pointer; /* 기본 커서 스타일 추가 */

  .imageWrapper {
    position: relative;
    gap: 10px;
    width: 100%;
    aspect-ratio: 1/1;
    flex-shrink: 0;

    .floatingWrapper {
      display: flex;
      position: absolute;
      bottom: 10px;
      right: 10px;
      opacity: 0; /* 기본 상태에서 숨김 */
      transition: opacity 0.3s; /* 트랜지션 추가 */
    }
  }

  @media (max-width: variable.$media-xs) {
    display: flex;
    flex-direction: row;
    gap: 10px;
    .imageWrapper {
      width: 100px;
      height: 100px;
    }
  }

  .cardTextWrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 200px;

    .cardTitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 600;
      min-width: 0;
    }

    .cardText {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0;
    }

    @media (max-width: variable.$media-sm) {
      display: flex;
      overflow: hidden;
      max-width: 500px;
      flex-shrink: 1;
      flex-direction: column;
    }
  }

  &:hover {
    background-color: rgb(124, 124, 124); /* hover시 배경색 변화 */

    .floatingWrapper {
      opacity: 1; /* hover시 나타남 */
    }
  }
}
